@model MultiStepForm.Web.ViewModels.Customer.PlanSelectViewModel

<body>
    <main>
        <section class="d-flex justify-content-evenly align-items-center flex-row">
            <div class="image-container">
                <picture>
                    <img src="~/images/bg-sidebar-desktop.svg" />
                </picture>
            <div class="nav-container">
                <div class="d-flex flex-row gap-3">
                    <div class="rounded-circle not-selected">
                        1
                    </div>
                    <div class="nav-text">
                        <p>Step 1</p>
                        <h5>Your Info</h5>
                    </div>
                </div>
                <div class="d-flex flex-row gap-3">
                    <div class="rounded-circle selected">
                        2
                    </div>
                    <div class="nav-text">
                        <p>Step 2</p>
                        <h5>Select Plan</h5>
                    </div>
                </div>

                <div class="d-flex flex-row gap-3">
                    <div class="rounded-circle not-selected">
                        3
                    </div>
                    <div class="nav-text">
                        <p>Step 3</p>
                        <h5>Add-Ons</h5>
                    </div>
                </div>

                <div class="d-flex flex-row gap-3">
                    <div class="rounded-circle not-selected">
                        4
                    </div>
                    <div class="nav-text">
                        <p>Step 4</p>
                        <h5>Summary</h5>
                    </div>
                </div>
            </div>
            </div>
            <div class="form-container">
                <form method="post">
                <div class="plan-options">
                    @foreach (var plan in Model.Plans)
                    {
                        string planId = $"plan_{plan}";
                        <input type="radio" name="SelectedPlan" value="@plan" id="@planId" 
                        @(Model.SelectedPlan == plan ? "checked" : "") />
                    <label for="@planId">@plan.ToString()</label>
                    }
                </div>
                <button type="submit">Continue</button>
                </form>
            </div>
        </section>
    </main>
</body>
